In [1]:
#import necessary modules
#Python >= 3.5
import sys
assert sys.version_info >= (3, 5)

#Scikit-Learn >= 0.20
import sklearn as sk
assert sk.__version__ >= "0.20"

#numpy for calculations
import numpy as np
import os

#matplotlib for figures
import matplotlib as mpl
import matplotlib.pyplot as plt
#a magic function that allows inline plotting so figures are rendered in this notebook
%matplotlib inline

#pandas for ...
import pandas as pd
from pandas.plotting import scatter_matrix

#add other needed modules here
#Tensorflow?

## Setup and Feature Statistics

In [2]:
# load data from the cv file using pandas
scores = pd.read_csv("Complete MCAT Data.csv", header = 1)
scores.rename(columns = {'Days Before Exam':'Days Before Exam.0'}, inplace = True)

# preview first five lines
scores.head()

,Timestamp,Exam Date,Real Score,C/P Score,CARS Score,B/B Score,P/S Score,Days Before Exam.0,Total Score,C/P Score.1,...,C/P Score.3,CARS Score.3,B/B Score.3,P/S Score.3,Days Before Exam.3,Total Score.3,C/P Score.4,CARS Score.4,B/B Score.4,P/S Score.4
0,2/19/2020 2:17:07,1/18/2020,513.0,128.0,128.0,129.0,128.0,NaN,NaN,NaN,...,128.0,128.0,128.0,126.0,16,506,127,127,125,127
1,2/19/2020 2:32:30,1/17/2020,495.0,122.0,127.0,122.0,124.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2/19/2020 2:32:57,1/18/2020,522.0,130.0,129.0,131.0,132.0,5.0,519.0,129.0,...,NaN,NaN,NaN,NaN,512,NaN,NaN,NaN,NaN,NaN
3,2/19/2020 2:37:04,1/17/2020,515.0,128.0,129.0,128.0,130.0,7.0,515.0,129.0,...,127.0,127.0,129.0,127.0,28,506,127,125,127,127
4,2/19/2020 2:37:05,1/17/2020,522.0,131.0,131.0,130.0,130.0,8.0,519.0,131.0,...,130.0,129.0,130.0,131.0,15,519,129,130,129,131

In [3]:
# drop irrelevant columns
scores.drop(columns=['Timestamp', 'Exam Date', 'Total Score', 'Total Score.1', 'Total Score.2', 'Total Score.3'], inplace = True)

# sanity check: take a look at the data
print('Scores data shape:', scores.shape)

# print number of columns, column labels, column data types, memory usage, range index, and non-null number of cells in each column
scores.info()

# look at distribution of scores
scores['Real Score'].value_counts()

# gives count, mean, standard deviation, min, max, and percentiles (including median)
scores.describe(percentiles = [0.25, 0.5, 0.75], include = 'all')

Scores data shape: (4996, 25)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4996 entries, 0 to 4995
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Real Score          4948 non-null   float64
 1   C/P Score           4947 non-null   float64
 2   CARS Score          4947 non-null   float64
 3   B/B Score           4947 non-null   float64
 4   P/S Score           4947 non-null   float64
 5   Days Before Exam.0  1733 non-null   float64
 6   C/P Score.1         1502 non-null   float64
 7   CARS Score.1        1498 non-null   float64
 8   B/B Score.1         1496 non-null   float64
 9   P/S Score.1         1496 non-null   float64
 10  Days Before Exam.1  2567 non-null   float64
 11  C/P Score.2         2330 non-null   float64
 12  CARS Score.2        2329 non-null   float64
 13  B/B Score.2         2327 non-null   float64
 14  P/S Score.2         2331 non-null   float64
 15  Days Before Exam.2  3303 non-null   object
 16  C/P Score.3         3044 non-null   float64
 17  CARS Score.3        3043 non-null   float64
 18  B/B Score.3         3042 non-null   float64
 19  P/S Score.3         3042 non-null   float64
 20  Days Before Exam.3  3340 non-null   object
 21  C/P Score.4         3544 non-null   object
 22  CARS Score.4        3543 non-null   object
 23  B/B Score.4         3541 non-null   object
 24  P/S Score.4         3544 non-null   object
dtypes: float64(19), object(6)
memory usage: 975.9+ KB

,Real Score,C/P Score,CARS Score,B/B Score,P/S Score,Days Before Exam.0,C/P Score.1,CARS Score.1,B/B Score.1,P/S Score.1,...,Days Before Exam.2,C/P Score.3,CARS Score.3,B/B Score.3,P/S Score.3,Days Before Exam.3,C/P Score.4,CARS Score.4,B/B Score.4,P/S Score.4
count,4948.000000,4947.000000,4947.000000,4947.000000,4947.000000,1733.000000,1502.000000,1498.000000,1496.000000,1496.000000,...,3303,3044.000000,3043.000000,3042.000000,3042.000000,3340,3544,3543,3541,3544
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,166,NaN,NaN,NaN,NaN,242,17,17,18,18
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21,NaN,NaN,NaN,NaN,28,130,128,130,129
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,333,NaN,NaN,NaN,NaN,269,676,799,796,812
mean,515.914511,128.947847,128.163331,129.123711,129.598949,8.417773,129.312250,128.403872,129.037433,129.328877,...,NaN,128.729632,128.400920,128.880342,127.856673,NaN,NaN,NaN,NaN,NaN
std,23.805011,6.247823,6.283536,6.259038,6.196021,16.390119,1.996091,2.083215,1.835347,1.885376,...,NaN,1.988670,2.358199,1.905568,1.745526,NaN,NaN,NaN,NaN,NaN
min,417.000000,30.000000,29.000000,30.000000,29.000000,0.000000,120.000000,120.000000,122.000000,122.000000,...,NaN,118.000000,118.000000,118.000000,118.000000,NaN,NaN,NaN,NaN,NaN
25%,512.000000,128.000000,127.000000,128.000000,128.000000,4.000000,128.000000,127.000000,128.000000,128.000000,...,NaN,127.000000,127.000000,128.000000,127.000000,NaN,NaN,NaN,NaN,NaN
50%,517.000000,129.000000,128.000000,129.000000,130.000000,6.000000,130.000000,129.000000,129.000000,130.000000,...,NaN,129.000000,129.000000,129.000000,128.000000,NaN,NaN,NaN,NaN,NaN
75%,520.000000,130.000000,130.000000,131.000000,131.000000,7.000000,131.000000,130.000000,130.000000,131.000000,...,NaN,130.000000,130.000000,130.000000,129.000000,NaN,NaN,NaN,NaN,NaN
max,2115.000000,528.000000,528.000000,530.000000,529.000000,365.000000,132.000000,132.000000,132.000000,132.000000,...,NaN,132.000000,132.000000,132.000000,132.000000,NaN,NaN,NaN,NaN,NaN

In [4]:
# plot some data statistics for the report
# for report: (state the number of datapoints, briefly describe the dataset)

## Visualize and Handle Missing Data

In [14]:
import missingno as msno

# look at how many values are missing in each dataframe column
missing_values_table(scores)

# visualize missing data with Missingno
msno.bar(scores)
msno.matrix(scores)

# see if there is a reason for missing data
msno.heatmap(scores)
msno.dendrogram(scores)

ModuleNotFoundError: No module named 'missingno'

In [5]:
# for linear regression, drop all rows with missing values
scores.dropna(axis = 0, inplace = True)

# convert all remaining data to integers
for col in scores.columns:
        scores[col] = scores[col].astype(int)

In [6]:
# print number of columns, column labels, column data types, memory usage, range index, and non-null number of cells in each column
scores.info()

# preview data
scores.head()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1240 entries, 3 to 4297
Data columns (total 25 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Real Score          1240 non-null   int64
 1   C/P Score           1240 non-null   int64
 2   CARS Score          1240 non-null   int64
 3   B/B Score           1240 non-null   int64
 4   P/S Score           1240 non-null   int64
 5   Days Before Exam.0  1240 non-null   int64
 6   C/P Score.1         1240 non-null   int64
 7   CARS Score.1        1240 non-null   int64
 8   B/B Score.1         1240 non-null   int64
 9   P/S Score.1         1240 non-null   int64
 10  Days Before Exam.1  1240 non-null   int64
 11  C/P Score.2         1240 non-null   int64
 12  CARS Score.2        1240 non-null   int64
 13  B/B Score.2         1240 non-null   int64
 14  P/S Score.2         1240 non-null   int64
 15  Days Before Exam.2  1240 non-null   int64
 16  C/P Score.3         1240 non-null   int64
 17  CARS Score.3        1240 non-null   int64
 18  B/B Score.3         1240 non-null   int64
 19  P/S Score.3         1240 non-null   int64
 20  Days Before Exam.3  1240 non-null   int64
 21  C/P Score.4         1240 non-null   int64
 22  CARS Score.4        1240 non-null   int64
 23  B/B Score.4         1240 non-null   int64
 24  P/S Score.4         1240 non-null   int64
dtypes: int64(25)
memory usage: 251.9 KB

,Real Score,C/P Score,CARS Score,B/B Score,P/S Score,Days Before Exam.0,C/P Score.1,CARS Score.1,B/B Score.1,P/S Score.1,...,Days Before Exam.2,C/P Score.3,CARS Score.3,B/B Score.3,P/S Score.3,Days Before Exam.3,C/P Score.4,CARS Score.4,B/B Score.4,P/S Score.4
3,515,128,129,128,130,7,129,128,128,130,...,21,127,127,129,127,28,127,125,127,127
4,522,131,131,130,130,8,131,129,128,131,...,4,130,129,130,131,15,129,130,129,131
5,524,132,128,132,132,6,131,130,132,131,...,24,132,130,130,130,90,130,128,130,131
7,518,130,130,128,130,7,129,130,127,126,...,23,125,130,127,124,91,125,130,125,124
8,507,127,128,125,127,7,128,128,128,128,...,21,128,129,128,128,28,129,132,130,130

## Clean Data and Add New Features

In [9]:
for i in range(4):
    print(scores[scores['Days Before Exam.'+str(i)]>200].index)
    type(scores[scores['Days Before Exam.'+str(i)]>200].index)

SyntaxError: invalid syntax (3273487281.py, line 3)

In [ ]:
# drop rows with # negative values
#                # days before exam > 180
#                # exact duplicate values to another row
#                # impossible scores (>528 total or >132 on any subsection)
remove_indices = []
remove_indices.append(scores[scores['Real Score']>528].index)
remove_indices.append(scores[scores['Real Score']<472].index)
for i in range 4:
    toomany_days.append(scores[scores['Days Before Exam.'+str(i)]>200].index)
    

scores.drop(scores[scores['Real Score']<528].index, inplace = True)


# add custom attribute: variance between test scores (if multiple test scores)
# NOTE: make sure variance is calculated between different tests, not between subsections of the same test

## Create a Test Set

In [ ]:
# define features and labels from the observations
X = ...
y = ...

In [ ]:
from sklearn.model_selection import train_test_split

#split data into training and testing, fix random_state so output is the same every run
train, test = train_test_split(X, y, shuffle=True,
                                   test_size=..., random_state=0)

#sanity check: look at how many data points are in train/test
len(train_set)
len(test_set)

In [2]:
#sanity check: preview test and training data
train_set.head()
test_set.head()

NameError: name 'train_set' is not defined

In [ ]:
from sklearn import StratifiedShuffleSplit

#perform stratified shufflesplit cross-validator
#https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedShuffleSplit.html
#compares random and stratified error

## Visualize Correlations

In [ ]:
# create a correlation matrix with pandas
corr_matrix["Real Score"].sort_values(ascending=False)

# create scatter matrices displaying totals, medians.
from pandas.plotting import scatter_matrix

attributes = ["Real Score", ..., ..., ...]
scatter_matrix(scores[attributes], figsize=(12, 8))

## PCA to Create Linear Combinations of Features

# Select and Train a Model

## Training and Evaluating on the Training Set

In [ ]:
from sklearn.linear_model import LinearRegression

# initialize a linear regression object
lin_reg = LinearRegression()
lin_reg.fit("DATA", "LABELS")

# sanity check: test out predictions and compare to labels
print(lin_reg.predict("SOME DATA"))
print(list("SOME LABELS"))

In [ ]:
# loss function
from sklearn.metrics import mean_squared_error

MCAT_predictions = lin_reg.predict("DATA")
lin_rmse = mean_squared_error("LABELS", MCAT_predictions, squared=False)
lin_rmse

## Further Evaluation with Cross-Validation

In [ ]:
lin_scores = cross_val_score(lin_reg, "DATA", "LABELS",
                             scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)