In [3]:
#import necessary modules
#Python >= 3.5
import sys
assert sys.version_info >= (3, 5)

#Scikit-Learn >= 0.20
import sklearn as sk
assert sk.__version__ >= "0.20"

#numpy for calculations
import numpy as np
import os

#matplotlib for figures
import matplotlib as mpl
import matplotlib.pyplot as plt
#a magic function that allows inline plotting so figures are rendered in this notebook
%matplotlib inline

#pandas for ...
import pandas as pd
from pandas.plotting import scatter_matrix

#add other needed modules here
#Tensorflow?

Fontconfig error: Cannot load default config file: No such file: (null)

## Setup and Feature Statistics

In [38]:
# load data from the cv file using pandas
scores = pd.read_csv("Complete MCAT Data.csv", header = 1)
scores.rename(columns = {'Days Before Exam':'Days Before Exam.0'}, inplace = True)

# preview first five lines
scores.head()

,Timestamp,Exam Date,Real Score,C/P Score,CARS Score,B/B Score,P/S Score,Days Before Exam.0,Total Score,C/P Score.1,...,C/P Score.3,CARS Score.3,B/B Score.3,P/S Score.3,Days Before Exam.3,Total Score.3,C/P Score.4,CARS Score.4,B/B Score.4,P/S Score.4
0,2/19/2020 2:17:07,1/18/2020,513.0,128.0,128.0,129.0,128.0,NaN,NaN,NaN,...,128.0,128.0,128.0,126.0,16,506,127,127,125,127
1,2/19/2020 2:32:30,1/17/2020,495.0,122.0,127.0,122.0,124.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2/19/2020 2:32:57,1/18/2020,522.0,130.0,129.0,131.0,132.0,5.0,519.0,129.0,...,NaN,NaN,NaN,NaN,512,NaN,NaN,NaN,NaN,NaN
3,2/19/2020 2:37:04,1/17/2020,515.0,128.0,129.0,128.0,130.0,7.0,515.0,129.0,...,127.0,127.0,129.0,127.0,28,506,127,125,127,127
4,2/19/2020 2:37:05,1/17/2020,522.0,131.0,131.0,130.0,130.0,8.0,519.0,131.0,...,130.0,129.0,130.0,131.0,15,519,129,130,129,131

NameError: name 'label' is not defined

In [44]:
# drop irrelevant columns
#scores.drop(columns=['Timestamp', 'Exam Date', 'Total Score', 'Total Score.1', 'Total Score.2', 'Total Score.3'], inplace = True)

# convert all remaining data to integers
for i in labels(scores):
    pd.to_numeric(scores[i], downcast = 'integer')

# sanity check: take a look at the data
print('Scores data shape:', scores.shape)

# print number of columns, column labels, column data types, memory usage, range index, and non-null number of cells in each column
scores.info()

# look at distribution of scores
scores['Real Score'].value_counts()

# gives count, mean, standard deviation, min, max, and percentiles (including median)
scores.describe(percentiles = [0.25, 0.5, 0.75], include = 'all')

TypeError: arg must be a list, tuple, 1-d array, or Series

In [40]:
# plot some data statistics for the report
# for report: (state the number of datapoints, briefly describe the dataset)

## Visualize and Handle Missing Data

In [14]:
import missingno as msno

# look at how many values are missing in each dataframe column
missing_values_table(scores)

# visualize missing data with Missingno
msno.bar(scores)
msno.matrix(scores)

# see if there is a reason for missing data
msno.heatmap(scores)
msno.dendrogram(scores)

ModuleNotFoundError: No module named 'missingno'

In [31]:
# for linear regression, drop all rows with missing values
scores.dropna(axis = 0, inplace = True)

## Clean Data and Add New Features

In [32]:
for i in range(4):
    print(scores[scores['Days Before Exam.'+str(i)]>180].index)

Int64Index([786, 1526, 1802], dtype='int64')
Int64Index([82, 468, 563, 1802, 4277], dtype='int64')

TypeError: '>' not supported between instances of 'str' and 'int'

In [ ]:
# drop rows with # negative values
#                # days before exam > 180
#                # exact duplicate values to another row
#                # impossible scores (>528 total or >132 on any subsection)
toohigh_scores = scores[scores['Real Score']>528].index
toolow_scores = scores[scores['Real Score']<472].index
toomany_days = []
for i in range 4:
    toomany_days.append(scores[scores['Days Before Exam.'+str(i)]>180].index)

scores.drop(scores[scores['Real Score']<528].index, inplace = True)


# add custom attribute: variance between test scores (if multiple test scores)
# NOTE: make sure variance is calculated between different tests, not between subsections of the same test

## Create a Test Set

In [ ]:
# define features and labels from the observations
X = ...
y = ...

In [ ]:
from sklearn.model_selection import train_test_split

#split data into training and testing, fix random_state so output is the same every run
train, test = train_test_split(X, y, shuffle=True,
                                   test_size=..., random_state=0)

#sanity check: look at how many data points are in train/test
len(train_set)
len(test_set)

In [2]:
#sanity check: preview test and training data
train_set.head()
test_set.head()

NameError: name 'train_set' is not defined

In [ ]:
from sklearn import StratifiedShuffleSplit

#perform stratified shufflesplit cross-validator
#https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedShuffleSplit.html
#compares random and stratified error

## Visualize Correlations

In [ ]:
# create a correlation matrix with pandas
corr_matrix["Real Score"].sort_values(ascending=False)

# create scatter matrices displaying totals, medians.
from pandas.plotting import scatter_matrix

attributes = ["Real Score", ..., ..., ...]
scatter_matrix(scores[attributes], figsize=(12, 8))

## PCA to Create Linear Combinations of Features

# Select and Train a Model

## Training and Evaluating on the Training Set

In [ ]:
from sklearn.linear_model import LinearRegression

# initialize a linear regression object
lin_reg = LinearRegression()
lin_reg.fit("DATA", "LABELS")

# sanity check: test out predictions and compare to labels
print(lin_reg.predict("SOME DATA"))
print(list("SOME LABELS"))

In [ ]:
# loss function
from sklearn.metrics import mean_squared_error

MCAT_predictions = lin_reg.predict("DATA")
lin_rmse = mean_squared_error("LABELS", MCAT_predictions, squared=False)
lin_rmse

## Further Evaluation with Cross-Validation

In [ ]:
lin_scores = cross_val_score(lin_reg, "DATA", "LABELS",
                             scoring="neg_mean_squared_error", cv=10)
lin_rmse_scores = np.sqrt(-lin_scores)
display_scores(lin_rmse_scores)