# This file is here to test a few things of our git repository

In [39]:
import pandas as pd
import numpy as np

In [54]:
dataTest = pd.read_csv("csv_tests.csv", header=1,usecols=range(6,18))
#dataTest.head(5)
dataTest.info

<bound method DataFrame.info of     How many days before exam (approximately for latest attempt)?  \
0                                                 NaN
1                                                 NaN
2                                                 5.0
3                                                 7.0
4                                                 8.0
5                                                 6.0
6                                                 7.0
7                                                 7.0
8                                                 7.0
9                                                 NaN
10                                                NaN
11                                                NaN

    Total Score.1  C/P Score.1  CARS Score.1  B/B Score.1  P/S Score.1  \
0             NaN          NaN           NaN          NaN          NaN
1             NaN          NaN           NaN          NaN          NaN
2           519.0        129.0         129.0        129.0        132.0
3           515.0        129.0         128.0        128.0        130.0
4           519.0        131.0         129.0        128.0        131.0
5           524.0        131.0         130.0        132.0        131.0
6           521.0          NaN           NaN          NaN          NaN
7           512.0        129.0         130.0        127.0        126.0
8           512.0        128.0         128.0        128.0        128.0
9             NaN          NaN           NaN          NaN          NaN
10            NaN          NaN           NaN          NaN          NaN
11            NaN          NaN           NaN          NaN          NaN

    How many days before exam (approximately for latest attempt)?.1  \
0                                                 5.0
1                                                 NaN
2                                                 7.0
3                                                14.0
4                                                11.0
5                                                10.0
6                                                14.0
7                                                14.0
8                                                14.0
9                                                 NaN
10                                                NaN
11                                                NaN

    Total Score.2  C/P Score.2  CARS Score.2  B/B Score.2  P/S Score.2
0           514.0        128.0         128.0        129.0        129.0
1             NaN          NaN           NaN          NaN          NaN
2           522.0        132.0         129.0        132.0        129.0
3           511.0        127.0         126.0        128.0        130.0
4           518.0        131.0         128.0        128.0        131.0
5           521.0        131.0         127.0        131.0        132.0
6           525.0          NaN           NaN          NaN          NaN
7           511.0        128.0         129.0        127.0        127.0
8           520.0        130.0         130.0        130.0        130.0
9             NaN          NaN           NaN          NaN          NaN
10            NaN          NaN           NaN          NaN          NaN
11            NaN          NaN           NaN          NaN          NaN  >

In [32]:
ar =  data.values
ar = ar.reshape(ar.shape[0],2,6)

In [36]:
ar[3,1,:]

array([ 14., 511., 127., 126., 128., 130.])

# True Values

In [46]:
#Select the values used as features
data_input = pd.read_csv("MCAT_not_cleaned.csv",header=1,usecols = (range(7,4*6+7)))
data_input.head(-5)

,How many days before exam (approximately for latest attempt)?,Total Score.1,C/P Score.1,CARS Score.1,B/B Score.1,P/S Score.1,How many days before exam (approximately for latest attempt)?.1,Total Score.2,C/P Score.2,CARS Score.2,...,C/P Score.3,CARS Score.3,B/B Score.3,P/S Score.3,How many days before exam (approximately for latest attempt)?.3,Total Score.4,C/P Score.4,CARS Score.4,B/B Score.4,P/S Score.4
0,NaN,NaN,NaN,NaN,NaN,NaN,5.0,514.0,128.0,128.0,...,128.0,128.0,128.0,126.0,16.0,506.0,127.0,127.0,125.0,127.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5.0,519.0,129.0,129.0,129.0,132.0,7.0,522.0,132.0,129.0,...,NaN,NaN,NaN,NaN,512.0,NaN,NaN,NaN,NaN,NaN
3,7.0,515.0,129.0,128.0,128.0,130.0,14.0,511.0,127.0,126.0,...,127.0,127.0,129.0,127.0,28.0,506.0,127.0,125.0,127.0,127.0
4,8.0,519.0,131.0,129.0,128.0,131.0,11.0,518.0,131.0,128.0,...,130.0,129.0,130.0,131.0,15.0,519.0,129.0,130.0,129.0,131.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2249,4.0,517.0,129.0,129.0,130.0,129.0,10.0,513.0,130.0,126.0,...,128.0,128.0,130.0,128.0,25.0,510.0,129.0,125.0,129.0,127.0
2250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2251,2.0,514.0,NaN,NaN,NaN,NaN,4.0,516.0,NaN,NaN,...,NaN,NaN,NaN,NaN,14.0,516.0,NaN,NaN,NaN,NaN
2252,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2253,7.0,518.0,130.0,129.0,129.0,130.0,13.0,523.0,130.0,131.0,...,129.0,130.0,131.0,128.0,28.0,520.0,130.0,130.0,130.0,130.0

In [56]:
#Insert it in an array 
data_input_array = data_input.values
#Reshape them as a tensor of dimension : number of data points, number of blank exams, number of "under exams" + total score + days before exam
dataInputTensor = data_input_array.reshape(data_input_array.shape[0],4,6)

#Now, if we want to know the results from data point n°3 during F2 in C/P - CARS - B/B - C/S :
dataInputTensor[3,1,2:]

array([127., 126., 128., 130.])

In [55]:
data_exam = pd.read_csv("MCAT_not_cleaned.csv",header=1,usecols = (range(2,5+2)))
data_exam.head(-3)

      Total Score  C/P Score  CARS Score  B/B Score  P/S Score
0             513        128         128        129        128
1             495        122         127        122        124
2             522        130         129        131        132
3             515        128         129        128        130
4             522        131         131        130        130
...           ...        ...         ...        ...        ...
2251          521        130         130        130        131
2252          505        126         124        128        127
2253          522        131         129        130        132
2254          510        126         127        128        129
2255          510        125         131        125        129

[2256 rows x 5 columns]

In [57]:
#Insert it in an array of dimension : number of data points, number of "under exams" + total score
dataExamArray = data_exam.values

#Now, if we want to know the results from data point n°3 during final exam in C/P - CARS - B/B - C/S :
dataExamArray[3,1:]

array([128, 129, 128, 130])

In [ ]:
#To do : 

#Function display?
# Matrix days : days before exam : shape = (2254 data points, 4 days befor exam for F1-F4) 
# Tensor resultsInput : shape = (2254 data points, 4 exams F1 - F4, 4 subexams )
# Subexams vector : ['C/P',...] of shape (4,)
# Put zeros instead of nan values